.container-fluid {
    align-items: center;
    display: flex;
    justify-content: center;
}

.arriba {
    display: flex;
}

.contenedores {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    margin: 15px;
    max-width: 28%;

}

.izq {
    margin: 15px;

}

.der{
    margin-right: 20px;
}

.fechas {
    height: fit-content;
    position: relative;
    margin-top: 15px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;

}

.titulo {
    margin-left: 20px;
    font-size: 10px;
}

.titulo:hover{

    text-decoration: underline;
}



.img:hover {
    cursor: pointer;

}

.p {
    margin: 0px;
    padding: 0%;
}