* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
  padding-left: 50px;
    max-width: 1500px;

 
    
}
.principal{
    margin-left: 300px;
}

:root {
    font-family: 'Arial';
    font-size: 13px;
}
.menu {
    
    border: solid 1px black;
    background-color: #1c3d6c;
    
}

.menu-items ul {
    list-style: none;
    padding: 0; /* Elimina el padding por defecto de los ul */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; 
    
}

.menu-items ul li {
    display: flex; /* Hace que cada li use flexbox */
}

.menu-items a{
    color: #f0f0f0;
    text-decoration: none;
    padding: 1.19em 3em;; 
    display: block; 
    text-align: center; 
    border: 1px solid #183659; /* Define un borde fino y sólido */
    
}

.menu-items ul {
    justify-content: space-around; 
}

.menu a:hover{
    background-color: #a8842c;
    
}

.menu-items button{
    background: #f0a854 url(imagenes/anterior.png) no-repeat 3px 5px;
    color: #003263;
    border: none;
    border-radius: 5px;
    padding: .5rem 1.40em;
    border: 1px solid #183659;
    
}

.menu-items button:hover{
    background: #d89004;
    background: #d89004 url(imagenes/anterior.png) no-repeat 3px 5px;
}

.espaciador {
    height: 40px;
    
}


.container-carousel {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #e0e0e0;
    overflow: hidden;
  
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 50px;
    height: 5px;
    background-color: grey;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator:hover {
    background-color: rgb(172, 150, 90);
}
.integracion-redes{
    display: inline-block;
    float: right;}
    .redtwitter{
        display: flex;
        justify-content: right;
        width: 91.6%;
        height: 100px;
        margin-left: 50px;
    }
.body9 {
    cursor: pointer;

    border: none;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media screen and (max-width: 700px) {
    .body9 {
      justify-content: flex-start;
    }
  }
  


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
   
    padding: 20px;
}

.titulo-linea {
    display: flex;
    align-items: center;
}

.linea {
    flex: 1;
    border: 0;
    border-top: 10px solid rgb(146, 46, 108);
    margin-left: 5px;
    margin-top: 20px;
}

.contenido {
    display: flex;
    align-items: flex-start;
    max-width: 500px;
    margin-top: 20px;
}

.contenido img {
    max-width: 200px;
    margin-right: 20px;
    margin-left: 15px;
}

ul.puntos {
    list-style: none;
    color: rgb(0, 0, 0);
    padding-left: 0px;
    margin-top: 0;
}

ul.puntos li {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

ul.puntos li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(146, 46, 108);
}

ul.puntos li:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% + 5px); 
    width: 100%;
    height: 2px; 
    background-color: lightgray; 
}


.gridlyt{
    width: 100%;
    height: 1000px;
}

.boletin-contenedor{

}
.footer1{
    width: 80%;
    height: fit-content;
    margin: auto;
    background-color: #193455;
    padding: 5px;
}

.footer1 a{
    text-decoration: none;
    color: #ecedf2;
}

.footer1v2 a{
    text-decoration: none;
    color: #ecedf2;
}

.footer1 a:hover{
    color: white;
    transition-duration: 300ms;
}

.footer1v2 a:hover{
    color: white;
    transition-duration: 300ms;
}

.footer1v2{
    width: 80%;
    height: fit-content;
    margin: auto;
    background-color: #193455;
    padding: 5px;
    display: none;
}

/* Media query para pantallas menores a 768px */
@media (max-width: 768px) {
    /* Esconde el footer para pantallas grandes */
    .footer1 {
        display: none;
    }
    /* Muestra el footer versión móvil */
    .footer1v2 {
        display: block;
        width: 100%;
        margin: 0px;
    }

}

/* Opcionalmente, puedes añadir una media query para pantallas mayores a 768px
   si necesitas hacer ajustes específicos para estas */
@media (min-width: 769px) {
    /* Ajustes para pantallas grandes aquí */
}

ul li::marker {
    color: white; /* Cambia el color del marcador a blanco */
}
.titulo-eventos {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    margin-left: 10px;
    color: black;
    /* Otros estilos si es necesario */
}

/*Estilo de sección de eventos*/

    /* Estilo para los cuadros flotantes con float */
.evento {
    position: relative; /* Hace que el cuadro sea el contenedor relativo para el botón */
    width: 200px;
    height: 300px;
    margin-right: 0px; /* Espaciado entre cuadros */
    margin-left: 45px;
    float: left;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-top: 7px solid #487b31; /* Borde superior azul de 7px */
}

.evento img {
    max-width: 100%;
    max-height: 100%;
}

.evento p {
    margin-bottom: 1px; /* Ajusta el margen inferior del párrafo según sea necesario */
}

/* Estilo para el contenedor del botón */
.boton-container {
    margin-top: 0px; /* Espaciado entre el texto y el botón */
}

/* Estilo para el botón */
.boton {
    display: inline-block; /* Hace que el botón sea un elemento en línea para evitar ocupar todo el ancho */
    padding: 5px 13px;
    background-color: #161616;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Efecto de transición en el color de fondo */
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px; /* Ajusta el tamaño del texto según sea necesario */
}

/* Efecto hover para el botón */
.boton:hover {
    background-color: #487b31;
}

/* Estilo para el espacio */
.espacio {
    clear: both; /* Asegura que el espacio esté debajo de los cuadros */
    margin-bottom: 10px; /* Ajusta el espacio según sea necesario */
}

/* Estilo para el contenedor de longitud */
.contenedor-longitud {
    height: 35px;
    background-color: #487b31;
    width: calc(250px * 3 + 10px * 2);
    margin-top: 10px;
    margin-left: 20px;
    clear: both;
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilo para el texto dentro del contenedor subrayado */
.contenedor-longitud p {
    text-decoration: underline;
    color: #ffffff;
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    line-height: 30px; /* Ajusta la altura del texto al contenedor */
}

