* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  header {
    background-color: #4d4d4d;
  }
  
  header .logo {
    margin: 0;
    padding: 10px 180px;
    font-weight: bold;
    font-size: 1.6em;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    order: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .search-container {
    order: 2;
    display: flex;
    justify-content: space-between;
}

 
  
  
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    header .container {
      flex-direction: column;
      align-items: center;
    }
  
    .search-container {
      width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
      max-width: 300px; /* Ancho máximo para el formulario */
      display: flex; /* Utilizar flexbox */
      flex-wrap: nowrap; /* No permitir que se envuelva a la siguiente línea */
      align-items: center; /* Centrar verticalmente los elementos */
    }
  
  }
  
  